html, body {font-family:sans-serif;
            font-size: 15px;
            margin: 0;
}
#list {
  margin: auto;
  width: 60%;
  padding: 20px;
  font-size: 30px;
  background: #b5b5b7;
  position: relative;
  border-style: double;
  font-family: courier;
}
#list p1 {
  animation: fadin 2s;
  -moz-animation: fadin 2s; /* Firefox */
  -webkit-animation: fadin 2s; /* Safari and Chrome */
  -o-animation: fadin 2s; /* Opera */

}

@keyframes fadin {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadin { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadin { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadin { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

  #typing  {
     text-align:center;
     margin: auto;
     padding: 10px;
     padding-right: 110px;

  }
  #start {
    text-align:center;
    margin: auto;
    padding: 20px;
    padding-right: 0px;

  }
  #startClock {
  background: #252839;
  border: blue;
  color: white;
  padding: 5px 20px;
  font-size: 20px;
  cursor: pointer;
}

.hide{
display:none;
}

.show{
display:block;
}

.head {

   font-family: Aldrich;
   border: 3px solid black;
   background: #252839;
   padding:0px;
   margin: auto;



}
#wpm {
  font-size: 20px;
}
#myform {
  font-size: 25px;
}
#alert {
  background: #F1DC50 ;
  background-position: top;
  font-family: cursive;
  height: 300px;
  width: 350px;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  border: 1px solid black;

}
.wrapper {
    text-align: center;
}
#alertbt {
  padding: 7px;
  padding-right: 6px;
  background: #252839;
  border: #252839;
  font-size: 15px;
}
#Wordsper {
    padding: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
}
.head div {
  display: inline-grid;

}
.home {
  float: right;
   margin-right: : auto;
   padding-top: 17px;
   padding-right: 50px;
   margin-left: auto;
}
.login {
  float: right;
  margin-left: auto;
  padding-top: 17px;
  padding-right: 40px;
  margin-right: : auto;
}
.head {
  text-align: center;
  padding-left: 100px;

}
/* loginform */

#loginform{
  font-family: cursive;
  height: 300px;
  width: 350px;
  background:  #b5b5b7;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  text-align: center;
}
#uname {
  font-size:8px;
  padding:.5px;
  display: inline;
  align:right;

}
#pass {
  font-size: 10px;
  padding:.5px;
  display: inline;
}
#submit {
  padding:3px;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  background-color: #252839;
  color: white;
}
#headlogin {
  font-family:  Aldrich;
  font-size: 15px;
  background-color: #9a5ac;
  padding-left: 1px;
  padding-top: 2px;
  padding-bottom: 1px;
  font-style: normal;
  position: relative;
  height: 50px;

}
.red {
    color: red;
}
#wpm {
  padding-top: .5px;


}
#username {
  float: left;
}



/* Profile page */
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 370px;
  position: absolute;
  padding-right: 20px;
}

/* Register form */
#registerform {
  font-family: cursive;
  height: 300px;
  width: 350px;
  background:  #b5b5b7;
  position:absolute;
  top: 45%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  text-align: center;
  height: 380px;
  width:400px;


/*Home page */



}

