html, body {font-family:sans-serif;
            font-size: 15px;
            margin: 0;;
}
#list {
  margin: auto;
  width: 60%;
  padding: 20px;
  font-size: 30px;
  background: linear-gradient(to bottom, #33ccff 21%, #66ffff 103%);
  position: relative;
  border-style: double;
}
#list p {
  animation: fadin 2s;
  -moz-animation: fadin 2s; /* Firefox */
  -webkit-animation: fadin 2s; /* Safari and Chrome */
  -o-animation: fadin 2s; /* Opera */

}

@keyframes fadin {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadin { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadin { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadin { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
  #typing  {
     text-align:center;
     margin: auto;
     padding: 10px;
     padding-right: 110px;

  }
  #start {
    text-align:center;
    margin: auto;
    padding: 20px;
    padding-right: 0px;

  }
  #startClock {
  background: linear-gradient(to bottom right, #9900ff 9%, #0033cc 82%);
  border: blue;
  color: white;
  padding: 5px 20px;
  font-size: 20px;
  cursor: pointer;
}

.hide{
display:none;
}

.show{
display:block;
}

.head {
  font-family: Aldrich;
   border: 3px solid black;
   background: linear-gradient(to left, #9900ff 0%, #ff00ff 94%);
   padding:0px;

}
#wpm {
  font-size: 20px;
}
#myform {
  font-size: 25px;
}
#alert {
  background: linear-gradient(to bottom, #ccccff 1%, #ffffff 104%);
  background-position: top;
  font-family: cursive;
  height: 300px;
  width: 350px;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  border: 1px solid black;




/* loginform */

#loginform{
  font-family: cursive;
  height: 300px;
  width: 350px;
  background:  linear-gradient(to bottom, #ccff66 0%, #66ffcc 100%);
  position:absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}
#uname {
  font-size:8px;
  padding:.5px;
  display: inline;
  float: left;

}
#pass {
  font-size: 10px;
  padding:.5px;
  display: inline;
}
#submit {
  padding:4px;
  padding-right: 10px;
  position: relative;
  background-color: #e03891;
}
#headlogin {
  font-family:  Aldrich;
  font-size: 15px;
  background-color: #9a5ac;
  padding-left: 1px;
  padding-top: 2px;
  padding-bottom: 1px;
  font-style: normal;
  position: relative;
  height: 50px;

}
#loginform h1 {
  border: 1px solid black;
  border-radius: 30px;

}

#nthEverthing:nth-letter(odd),
#nthEverthing:nth-letter(even){
  display:inline-block;
  text-transform:uppercase;
  width:80px;
  width:80px;
}
#word:nth-word(4){
  color:green;
}

#word:first-word{
  color:blue;
}

#word:nth-word(4){
  color:green;
}

p#word:last-word{
  color:red;
}
